# Node
node_modules
npm-debug.log

# Playwright
playwright-report
test-results
blob-report

# Allure
allure-results
allure-report

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea